@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.api-container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.api-button {
    width: 140px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f7bb8;
    border: 1px solid #2f7bb8;
    margin: 20px 0;
  
    color: white;
    font-size: 0.85em;
    font-weight: bold;
  
    cursor: pointer;
}

.api-button:hover {
    background-color: #5b9ed4;
    border: 1px solid #5b9ed4;
  }
  
.api-button:active {
    background-color: #356c99;
    border: 1px solid #356c99;
  }
